<div style="padding-bottom: 30px">
  <div class="card h-100">
    <div style="align-content: center">
      <img
        src="/assets/{{ produtoCard.imagem }}"
        height="164px"
        width="253px"
      />
    </div>

    <h4 class="card-title">{{ produtoCard.nome | titlecase }}</h4>

    <div [ngSwitch]="produtoCard.ativo">
      <p *ngSwitchCase="true">Em estoque</p>
      <p *ngSwitchCase="false">Fora de estoque</p>
    </div>

    <div *ngIf="!produtoCard.ativo" class="card-body">
      <div>
        <h4>Avise-me quando chegar</h4>
        <ng-content select=".acabou"></ng-content>
      </div>
    </div>

    <div *ngIf="produtoCard.ativo" class="card-body">
      <div>
        <h4>{{ produtoCard.valor | currency: "BRL":"symbol":"1.2-2":"pt" }}</h4>
        <ng-content select=".corre"></ng-content>
      </div>
    </div>

    <div>
      <a
        [ngClass]="produtoCard.ativo ? 'btn btn-success' : 'btn btn-danger'"
        (click)="emitirEvento()"
        href="javascript:void(0)"
        ><span
          ><span
            [ngClass]="
              produtoCard.ativo ? 'fa fa-toggle-on' : 'fa fa-toggle-off'
            "
          ></span
          >Status</span
        ></a
      >
    </div>
  </div>
</div>
